[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Jungho Ahn (jhahn21)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Project Owners
	push = group Project Owners
	push = group Registered Users
	read = group Project Owners
	read = group Registered Users
	rebase = group Project Owners
	removeReviewer = group Project Owners
	submit = group Project Owners
	deleteOwnChanges = group Registered Users
[access "refs/heads/*"]
	create = group Project Owners
	push = group Project Owners
	pushMerge = group Project Owners
	read = group Registered Users
	deleteOwnChanges = group Registered Users
[access "refs/tags/*"]
	push = group Project Owners
